[2022-06-07 21:03] anilnatha commented on #548
@bsatoriu There are two emails that need to be wired up that are awaiting a change to the members endpoint for when a user's email passes our whitelist and the user is auto approved that we spoke of last week.

[2022-06-08 21:18] bsatoriu opened #549 "Create pre-approved email tool"
Add API support and UI tool for managing pre-approved MAAP emails. Wildcards are should be allowed for "ends-with" email values. Examples:

[code]

- [x] Create API create/read/delete endpoints
- [x] Create Pre-Approved manager in Wordpress to allow for listing, adding, and removing entries

[2022-06-08 21:22] bsatoriu commented on #548
@anilnatha the new pre-approved functionality is ready in the develop branch.

https://github.com/maap-project/zenhub/issues/549

[2022-06-09 17:40] anilnatha commented on #548
Thanks for making this update @bsatoriu

I've modified the `members` endpoint to account for this change. We now send the proper email notification based on the user's status upon registration.

[2022-06-09 19:53] wildintellect commented on #544
Notes in https://docs.google.com/document/d/17d3cD7BjR3febmhIi4wdSejHnky2yBMJXiPLPw5KS-w/edit

[2022-06-09 20:00] anilnatha commented on #493
@bsatoriu I've  modifed the `wp_maap_pgt` cookie to expire after 24 hours.

I've also added a new cookie to store a user's username to be used for #537 that also expires at the correct timeout.

I'm now testing that this implementation is working.

[2022-06-09 20:11] marjo-luc commented on #447
Deployed, but waiting on MAAP API updates to test.

[2022-06-09 20:20] bsatoriu opened #550 "Setup scheduled API EC2 snapshots"
Setup daily EC2 snapshots for the Ops API EC2 instance to backup API data.

[2022-06-10 22:59] bsatoriu opened #551 "DIT EDSC Network Error"
The EDSC instance at https://search.dit.maap-project.org is failing to load CMR data. @wildintellect noticed the the CMR instance is returning a 503 error: https://cmr.dit.maap-project.org/search/collections.json

[2022-06-10 23:02] wildintellect commented on #551
I think this is the Target group of the Load balancer https://us-east-1.console.aws.amazon.com/ec2/home?region=us-east-1#TargetGroup:targetGroupArn=arn:aws:elasticloadbalancing:us-east-1:532321095167:targetgroup/search-maapdit/8bf4bb2499f69de5

If so it has 0 instances since May 18. Unsure if it was intentionally turned off.

@abarciauskas-bgse

[2022-06-14 17:48] marjo-luc opened #552 "Integrate Redux in Jobs UI"
Integrating redux in the jobs ui jupyter extension will clean the extension up and make it easier for others to contribute to the extension.

[2022-06-14 23:37] anilnatha opened #553 "Add `client_name` property to our Member model"
Our Member model currently doesn't have a `client_name` property that informs us if the member relies on URS or Gluu for authentication.  This information is also need on the member profile page.

[2022-06-14 23:38] anilnatha commented on #537
I've resolved this issue by using the information that is already being fetched by the profile page to fetch key information.

However, we need to make one more update to our member model (#553) so that I can close out this ticket.

[2022-06-15 20:18] anilnatha commented on #553
@bsatoriu I've created a branch named `issue-553-add-client-name-property` to get us started on this change.  Feel free to pull this down and make any changes.  I would like to get to know the CAS Overlay in more detail so that I can try to make this change.

I've already added the `client_name` property to the `member` model and here are the two remaining tasks that I'm aware of, feel free to add

[2022-06-17 19:59] bsatoriu commented on #547
The admin users page and pre-approved list manager have been moved to the WordPress
 admin area as part of the consolidation of our WordPress customizations into our new WordPress plugin. For more info and screenshots, please see https://github.com/MAAP-Project/maap-wp-plugin

[2022-06-17 20:00] bsatoriu commented on #549
This tool has been deployed to DIT. Please see the [maap-wp-plugin](https://github.com/MAAP-Project/maap-wp-plugin) project for more info.

[2022-06-22 19:46] anilnatha opened #554 "Invalid email template path"
During testing and log analysis, I found that the path to the newly created email templates was being improperly referenced on DIT.

Need to update the absolute path references for the email templates.

[2022-06-22 21:48] #554 closed

[2022-06-23 17:11] gchang opened #555 "Setting DPS worker node downsizing timeout based on current spot instance pricing"
Currently, we incur AWS Config costs for each machine we start up. This is relatively small with the latest calculations at around $0.02/machine. This was calculated by a simple test to scale up and down 1000 nodes, noticing that it incurred about $20 in charges. While this charge is trivial for long-standing instances, it represents a significant cost for autoscaling instances.

One way to mitiga

[2022-06-23 19:56] anilnatha opened #556 "Update MAAP Admin URLs linked in emails"
The new user signup alerts sent to admins need to be updated so they link to the MAAP Admin Interface that is part of the Wordpress dashboard.

[2022-06-23 19:58] anilnatha commented on #556
- [ ] Update the email templates
- [ ] Add new Gitlab CI Variable to store the path to the admin dashboard
- [ ] Update the `deploy.sh` script to add the new variable to `settings.py`

[2022-06-24 16:55] anilnatha opened #557 "Store ESA member information"
Per a conversation I had with @bsatoriu regarding adding client name information to user profiles (#553):

ESA member's information is currently not being stored in our system when they login. This means that when a MAAP admin visits the MAAP Admin Dashboard, they only see users that have authenticated against EarthData. To properly administer _all_ users of our platform, we need to store ESA memb

[2022-06-27 17:17] bsatoriu opened #558 "Fix GitLab certificate error in ADE workspaces"
This type of cert error seems to occur after a GitLab cert update:

[code]

Investigate the root cause of this issue and determine the best remedy, whether by auto-renewing the root CA in workspaces or creating remote cert refresh mechanism.

[2022-06-27 17:42] gchang commented on #558
This sounds like it could be the signing certificate DB in the workspace being outdated. Normally, you can do an `apt-get install ca-certs` (or similar) to upgrade to latest. This should be factored into the discussion on workspace lifecycle.

[2022-06-27 22:21] gchang opened #559 "Additional message during login to inform users about limited approvals"
To curtail the numerous requests we get from random users, it was suggested that we put something like on the login page (or someone else that makes sense):

"This MAAP platform is focused on investigations of aboveground biomass and forest structure. While everyone is free to browse MAAP with a free Earthdata login, new applications for access to NASA MAAP compute and storage resources are curren

[2022-06-28 18:58] #531 closed

[2022-06-28 19:53] bsatoriu commented on #558
I tried `apt-get install --reinstall ca-certificates` in a problematic workspace with no luck. Here is some information on the certs:

[code]

[2022-06-28 21:44] anilnatha opened #560 "Fix "Account Service" information on profile page"
Account service (aka auth client) information is no longer being displayed on a user's profile. In addition, the link a user visit's to update their profile which is dependent on the auth client information.

[2022-06-29 22:59] bsatoriu opened #561 "WP User Manager Deployment"
This issue relates to the WP Manager deployment to the Ops environment.

[2022-06-29 23:08] bsatoriu commented on #561
# UAT Deployment steps

## GitLab Auth Service
- Remove extraneous CI workflow variables
- Change .gitlab-ci.yml to point to master branch
- Build image

## GitLab maap-api-nasa-ci
- Synchronize maap-auth-ci variables
- Synchronize settings.py (GIT settings in particular)
- Build image

## Host EC2 instance

### MAAP API
in /var/www/maap-api-nasa: `pip install -r requirements.txt`
- Synchronize me

[2022-06-29 23:26] anilnatha opened #562 "Migrate code to maap-wp-plugin"
The following code needs to be migrated to maap-wp-plugin:

At the top of the file:
[code]

At the bottom of the file:
[code]

In addition, the following code is needed by CAS but I'm unsure if it will fire when the site is loaded if we move it into our plugin. Need to do some testing/research on this.

[code]

[2022-07-05 15:52] #528 closed

[2022-07-05 15:59] bsatoriu commented on #549
@oddes this is ready to test in UAT: https://uat.maap-project.org/wp-admin/admin.php?page=maap-pre-approved

Features to test include:

- Add a new pre-approved email
- Create a new URS account using a new pre-approved email, and verify that the MAAP account status is active upon first login
- Delete a pre-approved email

[2022-07-05 16:23] bsatoriu commented on #547
@oddes this feature is ready to test in UAT: https://uat.maap-project.org/wp-admin/admin.php?page=maap-admin

Features to test include:
- Register a new URS account in MAAP, and verify the new user appears in this admin list with a status of "suspended"
- Verify you receive an email notification indicating you have a "SUSPENDED" MAAP account
- Change the user's status to "active".
- Verify you rec

[2022-07-05 18:12] oddes commented on #547
Created a new user and it is triggering as expected for a new user: Please see attached screens for the emails triggered for admin and user:

<img width="878" alt="Screen Shot 2022-07-05 at 9 50 41 AM" src="https://user-images.githubusercontent.com/34038615/177389851-10182064-c156-4fa3-a4b5-dc6b71e7804e.png">
<img width="1370" alt="Screen Shot 2022-07-05 at 11 05 29 AM" src="https://user-images.gi

[2022-07-05 18:12] #547 closed

[2022-07-05 20:29] anilnatha commented on #548
@oddes This ticket is ready to be tested as well. It was included in the code push that @bsatoriu made to UAT. You may have already verified some of this via other tickets, but I wanted to list out the emails a user would receive during their onboarding experience and other activities on the site so you're aware of them:

## New User Registration

### Suspended Users

When a new user registers usi

[2022-07-05 20:50] anilnatha commented on #493
@oddes This issue is ready to be tested in UAT.  A user's session (Admin and regular users), will expire 24 hours after login. A user's session is _not_ extended by performing activity on the site.

After their session expires the user is logged out. If they attempt to view their profile by navigating to the profile page, [https://uat.maap-project.org/profile/](https://uat.maap-project.org/profile

[2022-07-05 20:52] anilnatha commented on #537
@oddes This issue has been fixed and is ready to be tested in UAT.  You can use the new MAAP User's Admin page (#547) to test this by toggling a user's status.

[2022-07-05 20:53] anilnatha commented on #560
@oddes We have fixed this issue and a user's Account Service should be properly displayed once again when viewing their profile for users that rely on EarthData or Gluu (ESA) for authentication.

[2022-07-05 20:56] anilnatha commented on #556
@oddes This issue is ready to be tested. There is a link to the new User Dashboard (#547) that is included in the new user email alert sent to Admin's for suspended users.

[2022-07-06 16:40] oddes commented on #556
@anilnatha @bsatoriu
we are still getting the syncope url in the admin email, we need to disable, right?

[2022-07-06 16:45] #560 closed

[2022-07-06 16:45] oddes commented on #560
works as expected.

[2022-07-06 16:53] oddes commented on #537
@anilnatha
1. I have updated the status to "Suspended"
2. I have logged in again and I still see the status as "ACTIVE", it supposed to be "Suspended".

[2022-07-06 16:55] #537 closed, assigned to anilnatha

[2022-07-06 17:03] bsatoriu commented on #556
@oddes no, this user in your screenshot was registered in the Ops environment. The new emails are only deployed to UAT currently.

[2022-07-07 04:30] oddes commented on #546
verified, looks good.

[2022-07-07 04:30] #546 closed

[2022-07-07 04:36] #556 closed

[2022-07-07 04:36] oddes commented on #556
Looks good.

[2022-07-07 19:21] gchang opened #563 "Gitlab Critical Update"
https://about.gitlab.com/releases/2022/06/30/critical-security-release-gitlab-15-1-1-released/

[2022-07-07 19:29] anilnatha commented on #494
Commented out second task since we now have a custom maap plugin for WordPress where we can add WP customizations.

[2022-07-07 20:06] anilnatha commented on #479
@oddes This ticket has been resolved and has been in UAT since end of last week. You can refer to the Admin emails you have received during testing of other tickets to verify and close this since nothing has changed since last week with the email system.

Let me know if you have any questions.

[2022-07-07 21:36] oddes commented on #479
@anilnatha
1. Status is updating on profile page as expected.
2. User with "Pending Activation" Status is able to login to ADE, should be fixed.

![Screen Shot 2022-07-07 at 2.35.37 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/2ae96f3e-2cee-4987-b6c2-043875659d0a)

[2022-07-07 22:00] anilnatha commented on #479
@oddes  Regarding bullet #2, it should be reported as a separate bug, if it hasn't already, as it's unrelated to this change.

So long as you've verified the first and last names show in the emails sent to admins, we should be able to close this ticket.

[2022-07-07 22:16] anilnatha commented on #562
@oddes @bsatoriu

I've migrated this to UAT for testing.  If everything works as intended, this should be included in the push to OPS.

Things to test for:

- [ ] URS users are able to login and view their profile info. Also check that EarthData is named in the "Updating your account information" section.
- [ ] ESA (Gluu) users are able to login and view their profile info. Also check that ESA is

[2022-07-07 22:27] anilnatha commented on #561
Hey @bsatoriu, if you and @oddes are able to verify that issue #562 is good, we should add the following task to your Wordpress task list as the first task:

* Modify `functions.php`: comment (and later delete) code that was migrated to plugin. See #562 for code that needs to be commented/deleted.

[2022-07-07 23:36] anilnatha opened #564 "Unable to send email from WordPress"
Our WordPress installation is reporting an error when trying to send emails because we don't have sendmail set up on our server.

`error.log` was reporting:

[code]

[2022-07-08 01:31] bsatoriu commented on #562
My ESA user profile page. Note the missing account info for ESA users is a known issue that we're addressing next sprint.

<img width="1095" alt="Screen Shot 2022-07-07 at 6 28 02 PM" src="https://user-images.githubusercontent.com/27687558/177898338-756bd750-c099-4088-a6a8-942ec9300f46.png">

[2022-07-08 17:01] anilnatha commented on #562
@bsatoriu How about I hide all the user metadata fields except "Account Service" for ESA members until we update our platform to save ESA member account?

[2022-07-08 17:53] bsatoriu commented on #562
@anilnatha my plan is deploy the new plugin next Friday. So, I'd say if it's a quick change that can be done today, go for it. Otherwise, we can do it next sprint when we have time to do another round of tests.

[2022-07-08 18:36] anilnatha commented on #562
@bsatoriu @oddes  I've make the quick change and deployed it to UAT for both of you to test. Now for ESA members you should only see the "Account Service" field, and the accordion block that informs you how to update your account information.

[2022-07-08 21:38] oddes commented on #524
'mas.ops.maap-project.org/root/jupyter-image/vanilla:develop' registration is broken for the image:

[2022-07-09 02:48] oddes commented on #549
Looks good, as expected.

![Screen Shot 2022-07-08 at 7.47.48 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/ac4dd600-8d1a-4483-89fa-173fcb438e78)

[2022-07-09 02:48] #549 closed

[2022-07-09 02:48] oddes commented on #562
works as expected.

[2022-07-09 02:48] #562 closed

[2022-07-12 16:51] sujen1412 opened #565 "Create a function to get a pre-signed-link for files on s3 is maap-py"
Could include something like this in maap-py

`
import logging
import boto3
from botocore.exceptions import ClientError

def create_presigned_url(bucket_name, object_name, expiration=3600):
    """Generate a presigned URL to share an S3 object

    :param bucket_name: string
    :param object_name: string
    :param expiration: Time in seconds for the presigned URL to remain valid
    :return: Pre

[2022-07-12 16:55] gchang commented on #565
Isn't this already done with an API call that can already be done in jupyter workspaces?

[2022-07-12 21:55] #540 closed

[2022-07-12 22:04] oddes commented on #524
Works as expected.

[2022-07-12 22:04] #524 closed

[2022-07-12 22:05] #539 closed

[2022-07-13 21:20] gchang opened #566 "Accessing ADE after changing URS password seems to fail"
A EIS user had recently changed his password and tried logging in. Eclipse Che then responded with  'An error occurred, please login again through your application'

[2022-07-13 22:53] bsatoriu opened #567 "Notify MAAP admins when a user account has been de/activated"

[2022-07-13 23:42] bsatoriu commented on #567
@oddes this is ready for testing in UAT.

[2022-07-13 23:43] bsatoriu opened #568 "Remove CAS attribute caching"
Currently, CAS caches attributes for two hours, forcing users to wait after a status change or EDL password update,

[2022-07-14 00:13] oddes commented on #566
@gchang @bsatoriu
Unable to re produce the issue: here are the steps I have followed:
1. Updated my URS password.
2. Logged in to the (https://ops.maap-project.org/) with the updated password.
3. I have logged in to the ADE with no issues.

[2022-07-14 21:34] bsatoriu opened #569 "Public SSH keys should be validated in the MAAP Profile"
Only public SSH keys should be acceptable as file uploads in the MAAP profile page. Implement validation along the line of the approach described here: https://stackoverflow.com/questions/70217889/ssh-key-public-regex-validation

[2022-07-16 17:37] #561 closed

[2022-07-16 17:37] #563 closed

[2022-07-26 17:31] gchang opened #570 "Federated Token expired"
User tried to access DAAC data, but was getting FORBIDDEN. It seems like retrieving the S3 token from the DAAC was failing because the user's URS token expired. Was able to get it to work by logging out of Eclipse Che and going through the standard login, which seemed to refresh the token.

Is there a way to automatically refresh the federated URS token?

[2022-07-26 21:29] anilnatha commented on #493
@oddes Which environment and user account was used for this testing?

[2022-07-26 21:31] oddes commented on #493
@anilnatha
I have tested in UAT environment. I have used sodde

[2022-07-26 21:31] anilnatha commented on #493
@oddes Thanks for the info. I'll take a look.

[2022-07-28 15:32] gchang opened #571 "User changed email address in URS, changes don't appear to propogate through MAAP"
User email changes in URS don't get updated in our members database, ADE prompts for a profile update, and Gitlab probably has old info too.

[2022-07-28 18:38] #336 closed

[2022-07-31 20:30] oddes commented on #571
ADE Steps:
1. Login to MAAP portal with userid
2. Navigate to ADE
3. Change the user email id on the URS.
4. Now, try to login to MAAP portal, works as expected
5. Navigate to ADE, first it will redirect to screen with : Update Account Information, even you update, it wont work. [hard stop] need a fix to
   "It's keycloak in the ADE that's causing issues. When a user is created, keycloak uses the

[2022-08-01 18:50] sujen1412 opened #572 "Provide support to persist conda env over workspace restarts"
Currently when a workspace restarts the any user installed packages are lost and the workspace is returned to the original one as in the image.

Need to look into providing a way to persist these packages.

Possible option:
explore if installing conda in /projects would resolve persistence issues

[2022-08-01 20:23] marjo-luc opened #573 "List jobs MAAP API endpoint on DIT does not work as expected"
**Describe the bug**
The list jobs MAAP API endpoint on DIT returns a server error.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute this command:
[code]
2. Response is a 500:
`<ows:ExceptionReport xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:schemaLocation="http://schemas.opengis.net/wps/2.0/wps.xsd" xmlns:wps="http://www.opengis.net/wps/2.0" xmlns:xsi="http://www.w3.org/2001/XML

[2022-08-01 20:36] marjo-luc opened #574 "Get metrics MAAP API endpoint on DIT does not work as expected"
**Describe the bug**
The get metrics MAAP API endpoint returns a 500.

**To Reproduce**
Steps to reproduce the behavior:
1.  Execute this command:
[code]

2. Response:
`<ows:ExceptionReport xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:schemaLocation="http://schemas.opengis.net/wps/2.0/wps.xsd" xmlns:wps="http://www.opengis.net/wps/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <

[2022-08-02 16:19] marjo-luc commented on #574
Created pull request resolving this issue.
https://github.com/MAAP-Project/maap-api-nasa/pull/46

[2022-08-02 18:06] marjo-luc commented on #573
Fixed. Here's the pull request: https://github.com/MAAP-Project/maap-api-nasa/pull/47

[2022-08-02 21:04] gchang opened #575 "Algorithm registration yields an Internal Server Error"
Now, for the blocking issue: registering an algorithm produces the message "INTERNAL SERVER ERROR". Any idea what's up with that?

[2022-08-03 05:46] sujen1412 commented on #575
It was due to a misconfig of the settings file.
It has been fixed now.

On Tue, Aug 2, 2022, 2:04 PM George Chang ***@***.***> wrote:

[2022-08-03 21:26] jjfrench opened #576 "AWS S3 Auth Fails (Forbidden)"
**Describe the bug**
Call to maap-py AWS earthdata_s3_credentials returns...
`requests.exceptions.HTTPError: 403 Client Error: FORBIDDEN for url: https://api.ops.maap-project.org/api/members/self/awsAccess/edcCredentials/https%253A%252F%252Fdata.ornldaac.earthdata.nasa.gov%252Fs3credentials`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a jupyter notebook inside of ADE
2. Use maap-p

[2022-08-08 21:45] chuckwondo commented on #576
@bsatoriu, sorry to bug you immediately upon your return from vacation, but this issue has been blocking us for quite some time now (and I suspect perhaps blocking others as well), so I just want to see if I can persuade you to put this at or near the top of your priority list.

[2022-08-08 22:25] bsatoriu commented on #576
@chuckwondo no problem -- I am working on this and expect to have a fix in the next day or two. There were changes made to all the JupyterLab extensions recently and a couple extensions, including the one this function relies on, were omitted from the latest workspace image. I'll follow up ASAP.

[2022-08-08 22:34] chuckwondo commented on #576
Awesome! Thanks so much!

[2022-08-10 04:27] bsatoriu commented on #576
@jjfrench @chuckwondo this is resolved. I verified the AWS functions are all working now in DPS. Sorry for the long wait!

[2022-08-10 05:18] jjfrench commented on #576
@bsatoriu, nice! I can confirm that I'm getting expected results now. Thanks!

[2022-08-10 05:18] #576 closed

[2022-08-11 21:11] bsatoriu commented on #541
I confirmed that these dismounts are caused by memory pressure. This is a sample k8s node event following a recent ADE OOM error:

[code]

I implemented a workaround fix for this by adding a cron job to the sf3s image that auto-remounts any s3 folders up to one minute after disconnection: https://mas.maap-project.org/root/che-sidecar-s3fs/-/commit/72248270800a7373152324ab1ad06ce0d99b8f5e

This upd

[2022-08-16 17:58] marjo-luc commented on #574
@oddes

Here is the test plan for this ticket:

1. Navigate to https://api.dit.maap-project.org/api/
2. Expand the `dps/job/{job_id}/metrics tab`
3. Submit the GET request using a valid job id (e.g. d421e25b-4520-40f1-a5d9-0aba53eb57f8)
4. Confirm the response code is 200 and the response body is similar to this:
[code]

[2022-08-16 18:02] #552 closed

[2022-08-16 19:21] bsatoriu commented on #523
I verified the maap.py EDSC url mapper is working correctly in UAT.

There have been a number of updates to the EDSC query mapper since our last EDSC extension update. This file, in particular, has introduced changes in many parameter data types (e.g. bounding box or 'sb' has changed from string to array):

https://github.com/nasa/earthdata-search/blob/master/static/src/js/util/url/url.js (last co

[2022-08-16 19:31] oddes commented on #567
This is working as expected in UAT.

[2022-08-16 19:31] #567 closed

[2022-08-16 19:38] bsatoriu commented on #550
Daily snapshots are configured for the Ops API EC2 instance

[2022-08-16 19:39] bsatoriu commented on #550
To test, check the API volume snapshots to ensure daily entries are being generated.

[2022-08-16 19:41] bsatoriu commented on #335
This is a duplicate of #523

[2022-08-16 19:45] #335 closed

[2022-08-16 20:19] marjo-luc commented on #523
@bsatoriu No, it is not. The new extension (https://github.com/MAAP-Project/edsc-jupyter-extension) is a jupyter_v3 conversion of the old extension. Any issues with the old extension would likely need to be carried over to the v3 extension.
None of the v3 extensions can replace their older counterparts until UAT and OPS are updated to jupyter_v3.

[2022-08-16 20:27] anilnatha commented on #494
Code has been submitted to the original author of the plugin in the form of a pull request. They have already replied stating they will review it this week.

https://github.com/uhm-coe/authorizer/pull/117

[2022-08-16 20:36] anilnatha commented on #493
At @oddes, can you retest.  If memory serves me right, this issue was expected for users that were already signed in after we rolled out the new code.  The cookie that contains the information needed to fetch a user's profile information is only set upon login.  Subsequent login attempts will set the cookie and this page should load normally.  Since this issue was temporary and fixed upon subseque

[2022-08-18 17:34] marjo-luc opened #577 "MAAP API needs to be updated to accommodate recent Mozart API changes"
MAAP API config was recently updated to reflect HySDS v4 install. (See here for details: https://repo.dit.maap-project.org/root/maap-api-nasa-ci/-/merge_requests/1). This update has revealed inconsistencies between the MAAP API and the Mozart API interfaces.

Request MAAP API makes:
`/mozart/api/v0.2/job/info?id={'id': 'c4b1d811-a03a-45f2-99d0-4db4bffeb0bf', 'tags': ['test', 'test']}`

Request Moz

[2022-08-18 19:11] gchang opened #578 "Portal Design and Content Update"

[2022-08-18 20:09] gchang commented on #550
Kicking back as the automated snapshot seems to have failed.

[2022-08-18 20:17] #538 closed

[2022-08-18 20:21] #575 closed

[2022-08-18 20:23] gchang commented on #564
Please verify the use of the wordpress smtp plugin.

[2022-08-18 20:23] gchang commented on #393
Still waiting on usability testing.

[2022-08-18 20:28] sujen1412 opened #579 "Cleanly deploy maap api from the CI"
Currently the deploy script in the maap-api ci does not clear out the existing files before uploading the new ones. Which causes some deprecated / git removed files to persist.

Suggestion is to rm the existing api folder before uploading the new one.

Blocker: The existing api directory contains a python venv which is not created by the CI.
Potential Solution: Create the venv each time we deploy.

[2022-08-18 20:31] gchang commented on #512
Next step is to push to DIT

[2022-08-18 20:34] gchang commented on #523
Need to synchronize EDSC code into our EDSC parsing code.

[2022-08-18 20:42] #578 closed

[2022-08-18 20:43] gchang opened #580 "Work with ESA to discuss layout and content"

[2022-08-18 20:44] gchang commented on #489
Currently being investigated since Oracle 8 is still not available to us.

[2022-08-19 19:47] marjo-luc commented on #526
Confirming this is available in Jupyter 3 on DIT. Users must select `View->Show Hidden Files` to make hidden files viewable. This update will be propagated to UAT and OPS after they have been updated to Jupyter 3.

![hidden_files.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/4538b746-01a5-409e-9b91-fabd4f9f982chis)

[2022-08-19 19:47] #526 closed

[2022-08-19 22:53] bsatoriu commented on #517
### Testing requirements:

1. On ADE Ops, update your workspace dev file to use the jupyter image `mas.maap-project.org:5000/root/jupyter-image/rsgislib:v3.0.3`

2. In a jupyter notebook, run the following snippet:
[code]

3. Verify the result includes a "DAAC" property with the value "data.lpdaac.earthdatacloud.nasa.gov"

[2022-08-19 23:27] gchang opened #581 "Gitlab Security Update"
https://about.gitlab.com/releases/2022/07/28/security-release-gitlab-15-2-1-released/

[2022-08-19 23:28] gchang commented on #581
There's a particular upgrade path from 14.x to 15.x too (https://docs.gitlab.com/ee/update/index.html#upgrade-paths). I'm not sure if what we're running is vulnerable, but would be good to evaluate what version to upgrade to.

[2022-08-19 23:32] bsatoriu commented on #541
Triggering a stack overflow or  OOM error within a workspace does not cause an s3fs failure. I believe the only way we can test this solution is to run a tool like [stress-ng](https://github.com/ColinIanKing/stress-ng) that produces a node-level OOM error like the one mentioned in my previous comment.

@gchang I have verified that s3fs errors are now automatically fixed with new cron job in place.

[2022-08-22 23:20] marjo-luc commented on #447
New jupyter v3 jobs ui has been deployed on DIT. This is the latest version of the jobs ui, which has the redux integration.

Frontend extension: https://www.npmjs.com/package/@maap-jupyterlab/dps-jupyter-extension
Backend extension: https://test.pypi.org/project/jupyter-server-extension/

[2022-08-22 23:20] #447 closed

[2022-08-23 01:44] marjo-luc commented on #577
Fixed. Test plan outlined in #573 will be sufficient to test these changes.
https://github.com/MAAP-Project/maap-api-nasa/commit/b87ae49091b15f99c2c900673e6dc837eff9036e

[2022-08-23 02:55] oddes commented on #493
Looks good.

[2022-08-23 02:55] #493 closed

[2022-08-23 03:11] oddes commented on #517
Works as expected. Able to retrieve the S3 access details for the corresponding DAAC.

[2022-08-23 03:11] #517 closed

[2022-08-23 03:44] oddes commented on #574
![Screen Shot 2022-08-22 at 8.43.19 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/a5ca6ff7-e231-4220-80ab-dab005036473)

[2022-08-23 03:44] #574 closed

[2022-08-23 03:53] #573 closed

[2022-08-23 03:53] oddes commented on #573
![Screen Shot 2022-08-22 at 8.52.38 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/5ab74fdf-641b-4b8c-a5f6-5045a07cb004)

[2022-08-23 04:22] oddes commented on #577
Tested in 573.

[2022-08-23 04:22] #577 closed

[2022-08-23 04:24] oddes commented on #548
Works as expected.

[2022-08-23 04:24] #548 closed

[2022-08-23 20:44] anilnatha commented on #494
The changes I proposed for the Authorizer plugin were accepted and merged into the official Authorizer repo.

I've upgraded the plugin in DIT and UAT to version 3.4.1. and set the `cas_method` to `PROXY` under the 'External' tab of the Authorizer settings. Login was still working after upgrading to the new version of the plugin.

@oddes When you have a moment, could you please test and verify that

[2022-08-23 21:26] gchang opened #582 "Generate documentation for maap-py using some auto doc tool"

[2022-08-24 22:41] bsatoriu commented on #581
I ran the GitLab upgrade to v15.3.1 on DIT, UAT and Pilot Ops.

[2022-08-30 18:54] oddes commented on #494
Looks good. Able to login to both UAT and OPS.

[2022-08-31 16:30] marjo-luc opened #583 "Reevaluate UX for sharing workspaces in Eclipse"
This came up when working with MAAP-HEC folks and it tripped all of us up. When users try to share workspaces, the 'Share' button remains disabled after users enter the emails of the users to share workspaces with. Users have to press the return/enter key to trigger the email validation which then enables the 'Share' button if validation is successful. Ideally, users enter the emails of users to s

[2022-08-31 16:45] rtapella commented on #583
This is a tough one because ideally the validation occurs client-side before you try to "share"...

Can you share with users outside of MAAP? If it has to be within MAAP users, ideally it'd show autocomplete suggestions while you're typing, and each email address entered would get put into a chip or something similar. e.g. the LFT UI:

![Screen Shot 2022-08-31 at 9.45.01 AM.png](https://images.zen

[2022-09-01 15:01] anilnatha commented on #494
@oddes only DIT and UAT have been updated.  Was awaiting your tests before I published to OPS.

[2022-09-01 19:47] anilnatha commented on #545
I've upgraded WP to 6.0.2 in the `maap-api-portal` repo which uses docker images with successful results.

I've also upgraded WP in DIT and UAT to version 6.0.2 and ensured all plugins are upgraded to their latest versions with successful results.

@oddes We're ready for you to test the portal general functionalities (are all wordpress pages accessible, are they loading/rendering correctly, etc.)

[2022-09-01 20:20] #581 closed

[2022-09-01 23:40] bsatoriu opened #584 "Analyze ADE-1 system warnings"
netdata alerts for the ADE-1 server indicate that system resources are being over-taxed. Determine the cause of these alerts.

- [x] Create a cron job that logs system processes on ADE-1 every minute.
- [x] After a few days of alerts, analyze the logs to determine the source of the alerts and check for any unusual activity.

[2022-09-01 23:55] bsatoriu opened #585 "Backup ADE Usage logs to s3"
Back up ADE usage logs daily to s3.

[2022-09-06 18:07] marjo-luc opened #586 "MAAP API submit job endpoint overwrites username"
[This commit](https://github.com/MAAP-Project/maap-api-nasa/commit/1c30439571d0f56ac73ba8a32875c6c7d66f5679) introduced unexpected behavior in the MAAP API's submit job endpoint. When users submit jobs, even if a username is explicitly provided in the request body, the value will be overwritten to an empty string. This results in users no longer being able to get jobs submitted per username.

For

[2022-09-07 20:41] bsatoriu opened #587 "Fix CAS SSO special character errors"
When signing in through CAS using a Norwegian character like "ø", the CAS overlay fails to encode the string correctly, preventing the profile data from being entered into the MAAP API.

[2022-09-09 16:43] wildintellect opened #588 "GEDI L2B Data Access Error"
**Describe the bug**
EarthData Search inside MAAP doesn't allow Download of GEDI L2B, attempting to do so leads to a connection error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MAAP ADE
2. Click on `Data Search`
3. Search for `GEDI L2B`
4. Filter the granules (ideally to a single granule)
5. Click the `download` button

**Expected behavior**
A clear and concise description of wha

[2022-09-12 18:22] bsatoriu commented on #587
## Testing requirements

Use this special character (or any non-Latin character) in the first or last name for the URS account when registering: ø

[2022-09-12 18:28] oddes commented on #545
1. metadata page from Tool section, https://mmt.maap-project.org/ throwing 503 error.
2. EDSC on ADE also throwing error, need to be configured correct.

[2022-09-12 18:29] oddes commented on #494
@anilnatha Please push this to OPS for testing.

[2022-09-12 20:10] anilnatha commented on #545
@oddes Thank you for testing the platform.  To my knowledge, these issues are unrelated to the upgrade to WordPress 6.  Unless @gchang or @bsatoriu knows of a dependency that I'm unaware of, I would treat these as separate issues and open new tickets.

For the time being, unless something objects, I'll proceed with promoting WordPress 6 to OPS this week.

[2022-09-13 19:31] #586 closed

[2022-09-13 19:42] bsatoriu commented on #584
Here are the ADE-1 logs for the last ten days: [ADE-1 system log.xlsx](https://github.com/MAAP-Project/ZenHub/files/9560282/ADE-1.system.log.xlsx). Included in this report is a summary of the most resource intensive process over this period:

![Screen Shot 2022-09-13 at 12 35 01 PM](https://user-images.githubusercontent.com/27687558/189993733-ba584514-a927-4264-99f4-d2143106c10d.png)

No suspiciou

[2022-09-13 19:58] bsatoriu commented on #550
## Testing Requirements

Check the snapshots in the Ops AWS account to verify that a snapshot exists for each of the last seven days.

[2022-09-13 20:14] abarciauskas-bgse commented on #588
I'm not sure the "Download" button was ever working, unless you can recall a time when it was. I vaguely recall deciding to disable it. Just an FYI, we should figure out what we want to do to fix it or disable it.

[2022-09-13 20:26] wildintellect commented on #588
@abarciauskas-bgse I also had no idea what the expected behavior is supposed to be. +1 fix, or disable and direct users to import their queries to the ADE and use code to access data.

[2022-09-14 17:06] anilnatha commented on #545
WordPress has been upgraded in OPS and is ready for testing @oddes

[2022-09-14 17:08] anilnatha commented on #494
The Authorizer plugin has been updated in OPS and is ready for your testing @oddes

- Crucial test would be to ensure you're able to login using EarthData (URS) successfully.

[2022-09-14 17:14] anilnatha opened #589 "Profile page rendering incorrectly"
There is a minor rendering issue in OPS on the user profile page shown in the screenshots below. I do not believe this is related to the recent upgrade to WordPress 6 (#545), but I'm not completely ruling it out. Need to compare the profile page code between UAT and OPS to verify.

### UAT

<img width="1680" alt="Screen Shot 2022-09-14 at 10 10 47" src="https://user-images.githubusercontent.com/93

[2022-09-14 17:54] sujen1412 opened #590 "Add parameter validation for DPS Jobs in maap-py / api"
Currently we are not able to stream mozart errors back to the api and ultimately to the user.

This causes a lot of trouble when trying to debug job submissions with invalid parameters, etc leaving users to wonder what is wrong.

TODO
Option 1 : Add validation more upstream
2: Stream mozart api errors back to the caller (maapapi)

[2022-09-15 03:48] oddes commented on #587
works as expected. Please see attached.

![Screen Shot 2022-09-14 at 8.45.59 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/2e6dbb98-f941-49bf-abdf-5977fbb2f99b)

[2022-09-15 03:48] #587 closed

[2022-09-15 04:22] oddes commented on #545
Looks good.

[2022-09-15 04:22] #545 closed

[2022-09-15 04:22] oddes commented on #494
works good.

[2022-09-15 04:22] #494 closed

[2022-09-15 22:38] anilnatha opened #591 "Authorizer redirects to CAS when using forget password feature"
When the forget password form is successfully submitted, Wordpress should be redirecting to https://dit.maap-project.org/wp-login.php?checkemail=confirm&external=wordpress

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/931107/190520660-c5cca3f1-a4b6-4df0-acd5-e56ca8870b27.png">

However, the Authorizer plugin kicks in and attempts to send the user to https://dit.maap

[2022-09-22 14:40] anilnatha commented on #564
Sendmail is installed on DIT and UAT.

WordPress's forgot password feature is working again with one caveat.  After successfully submitting the form, the user is redirected to the CAS login page instead of being sent back to the WordPress's login which can be used to login to WordPress in the even of issues with CAS/URS.  I've already reported this issue in another ticket (#591) because its unrela

[2022-09-22 19:03] anilnatha commented on #591
I reported the issue to the maintainers of Authorizer to get guidance on a fix and they reported back:

https://github.com/uhm-coe/authorizer/issues/121

[2022-09-27 17:45] marjo-luc opened #592 "ipycmc jupyter v3 conversion"
- [X] build ipycmc in jupyter v2 environment

- [ ] consolidate ipycmc code

- [ ] update ipycmc extension to jupyter v3

- [ ] create github repo for new ipycmc jupyter v3 extension

- [ ] create npm package for ipycmc jupyter v3 extension

[2022-09-27 23:34] chuckwondo opened #593 "Allow AWS Lambda Invocation"
**Is your feature request related to a problem? Please describe.**

I'd like to use the Cumulus CLI from an ADE terminal window, but it doesn't work because it invokes an AWS Lambda function and invoking Lambda functions is not permitted.

Here's an error from https://ade.ops.maap-project.org/ from running the Cumulus CLI from an ADE Terminal window:

[code]

**Describe the solution you'd like**

[2022-09-28 16:25] bsatoriu commented on #571
@oddes the ADE and GitLab issues are ready to be verified in Ops. I updated the Keyloak login flow to permit the auto-creation of new accounts upon URS email changed. Make sure to choose the "Review Profile" option in ADE when signing in with an account containing a newly changed email.

Since the last CAS deployment two weeks ago, I am now able to login to GitLab as well after changing my URS ema

[2022-09-28 22:53] marjo-luc opened #594 "Implement filtering & sorting for Jobs UI"
Basic filtering and sorting for this first iteration:

- [ ] sort job start time (desc/asc)

- [ ] global text filter

[2022-09-28 22:56] marjo-luc opened #595 "Sundry job ui updates"
Various, minor updates:

- Rename extension
- Jupyter lab failure when jobs ui is closed then opened again
- Refresh functionality no longer works
- Job details general table first column is way too wide
- Add metrics data
- Add inputs data
- Job status badges are the wrong color for the job status
- Fill in algorithm details box with real data
- Display a refresh message and/or icon when a user c

[2022-09-29 16:26] gchang opened #596 "Update background image on landing page"
Update the background of the scimaap.net landing page and update style sheet as needed to make sure text is still legible.

[2022-09-30 00:16] anilnatha commented on #596
Took a crack at adding the background image and ensuring text is legible. Thoughts?

_Please Ignore the broken video on the "after" image. I didn't pull down the video files while editing the file locally_

## Before

![image](https://user-images.githubusercontent.com/931107/193163559-582e949a-cddf-4c7e-b80b-1f800d202570.png)

## After

![image](https://user-images.githubusercontent.com/931107/193

[2022-10-03 19:45] anilnatha commented on #596
@gchang In addition to the changes previously shown, I updated the font styling in the blue boxes to improve readability. The uppercase lettering and large line spacing can be difficult to read for some.

![Screen Shot 2022-10-03 at 12 43 27-fullpage](https://user-images.githubusercontent.com/931107/193664941-0b15349e-4844-4703-939e-d8fe6fd82f3b.png)

[2022-10-04 04:57] gchang opened #597 "Create new workspace stack for rGEDI"
See current progress at:

https://github.com/MAAP-Project/maap-documentation-examples/pull/41

[2022-10-04 15:07] abarciauskas-bgse commented on #593
Right now we're working in 2 environments
1. DIT which is split AWS accounts for JPL and UAH/IMPACT
2. Ops - one MCP environment

For the DIT environment, and for testing purposes, I have added a "Resource-based policy document" to the "maap-dit-uw2-sqs2sf" lambda which looks like:

[code]

The role in the ADE is of the form:

[code]

I then tried to invoke the function from ade.dit and got the sa

[2022-10-05 01:31] gchang opened #598 "Shared Documents shouldn't be visible without logging in"
https://ops.maap-project.org/shared-documents/

[2022-10-05 01:37] gchang commented on #596
It looks good. I'm usually not a fan of large repeating background images, but the seam, at least in your screenshots, is covered by the video. How does it look when it resizes based on browser width/mobile sizes?

[2022-10-05 22:23] gchang opened #599 "Earthdata Search iframe in new Jupyterlab (in DIT) doesn't work"
It appears to be loading the iframe incorrectly.

[2022-10-05 22:25] gchang commented on #599
![Screen Shot 2022-10-05 at 3.22.25 PM.png](https://images.zenhubusercontent.com/5ee7da582a6c07a5f569db2e/1c094fb8-96c2-4177-9f58-e838b501bf5a)

[2022-10-05 22:34] marjo-luc commented on #599
Hmm. Which image is being used? Looks good to me:![Screen Shot 2022-10-05 at 3.32.38 PM.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/e5f2c86f-e126-4d40-bc74-e34193dc922d)

[2022-10-05 23:11] gchang commented on #599
I was using the same basic workspace that I launched yesterday. But I just tried with a new workspace and it worked so I'll chalk it up to error between keyboard and chair. Thanks for looking.

[2022-10-05 23:11] #599 closed

[2022-10-06 01:24] marjo-luc commented on #126
Is this still relevant? If so, should it be reassigned to @anilnatha ?

[2022-10-06 01:42] marjo-luc commented on #594
Testing filter:

1. Start a workspace using the 'Basic' stack.
2. Open the Jobs UI: _View -> Activate Command Palette -> View & Submit Jobs_
3. Type "demo" in the UI's search bar. The job records should filter down to records with this string in them.

Testing date sort:
1-2 Same as above.
3. Click on the arrow in the _Starttime_ column. The records should sort in descending/ascending order.

[2022-10-06 01:52] marjo-luc commented on #514
Resolved.

Text with white space will wrap:
![whitespace.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/82b06800-5c11-47d4-ae4a-06818bad39a1)

Text with no white space will overflow:
![no_whitespace.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/d08f15b5-0d30-406a-93c3-7f929d63db7b)

[2022-10-06 05:56] gchang opened #600 "Update to GitLab Security Release: 15.4.1, 15.3.4, and 15.2.5"
Latest security updates

https://about.gitlab.com/releases/2022/09/29/security-release-gitlab-15-4-1-released/

[2022-10-06 15:50] gchang opened #601 "Update workspaces to run in user-space with sudo rather than root"
Workspaces should be running as a user instead of root. Some web UIs won't run if it's running under root, also bad security practice. In order to do this, we have to figure out how to do the EFS and S3 mounts within workspaces to be mounted as user as well.

I think a way to do it is to make a linux user called "maapuser" with a uid of 990 (or something). Then all workspaces should be run as that

[2022-10-06 17:12] gchang commented on #126
Still relevant, but in a subsequent delivery

[2022-10-10 20:30] oddes commented on #571
Thanks Brian. Updated email on the URS side is not reflecting on MAAP profile page.

[2022-10-10 20:36] anilnatha commented on #596
Page has been updated with additional changes to improve font readability and prevent tiling of background image.

Here is a screenshot of it rolled out to scimaap.net:

![Screen Shot 2022-10-10 at 13 35 17-fullpage](https://user-images.githubusercontent.com/931107/194948461-bf57a7ec-bf1b-4e26-9ce2-22ee8b5f640d.png)

@oddes We just need to test that the page loads and renders correctly.

[2022-10-11 17:18] bsatoriu commented on #571
@oddes I've updated the CAS service to synchronize any URS profile info (email, name, organization) upon login.

This is ready to test on UAT.

[2022-10-11 18:10] gchang commented on #597
Closed with https://github.com/MAAP-Project/maap-workspaces/tree/dit/base_images/rgedi

[2022-10-11 18:10] #597 closed

[2022-10-11 19:54] marjo-luc opened #602 "Write test procedures for ADE extensions"
Write TestRail test procedures for the jl3 ADE extensions.

[2022-10-11 21:16] oddes commented on #596
@anilnatha  I dont see it, which environment?

[2022-10-11 21:18] anilnatha commented on #596
So sorry, I didn't provide you the URL. It's here: https://scimaap.net/ @oddes

[2022-10-12 18:07] anilnatha commented on #598
If everything is working satisfactory, I can publish the changes to OPS.

[2022-10-12 19:36] gchang commented on #593
I've made the request to update the `maap-dev-ec2` with the AWSLambdaRole role (which includes the InvokeFunction)

[2022-10-12 19:44] gchang commented on #593
It's been updated.

[2022-10-12 22:16] rtapella opened #603 "Typing in the Algorithm dropdown in Jobs UI does not filter"
![Screen Shot 2022-10-12 at 2.51.36 PM.png](https://images.zenhubusercontent.com/61dc908470b3029fc627fcbb/8dd69e16-c0fa-4fba-a480-a5fa87db2962)

[2022-10-12 22:18] rtapella opened #604 "Algorithm dropdown is cut off when the list gets long"
The bottom half of the Jobs UI "Submit" tab seems to be a blank panel. This gives little space to the Algorithm dropdown at the top of the page, so it will get chopped off when you pull it down.
Generally speaking we'll need to work out how to handle a very long list of applications without the UI getting cut off.

![Screen Shot 2022-10-12 at 2.49.53 PM.png](https://images.zenhubusercontent.com/61

[2022-10-13 17:22] marjo-luc commented on #534
The readmes for the new extensions have been updated. I've also enabled the github discussion boards for each of the extension repos. See [here](https://github.com/MAAP-Project/dps-jupyter-extension/discussions) for an example. I'm hoping this will be a more dev-centric venue that will foster better communication amongst the community by providing extension FAQ's, discussion for new features, and

[2022-10-13 19:02] oddes commented on #594
works as expected.

[2022-10-13 19:11] oddes commented on #571
Looks good in UAT.
![Screen Shot 2022-10-13 at 12.09.48 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/2b8857d7-7468-424d-b03a-d14460db38ee)

[2022-10-13 19:22] anilnatha opened #605 "Eclipse Che Updates"
This epic is to capture UI updates we need to make for Eclipse Che.

[2022-10-13 19:39] anilnatha commented on #591
The maintainers of the Authorizer plugin have addressed the bug report I submitted and released an updated version of the plugin.

I updated DIT and UAT and both are redirecting properly when the lost password form is submitted.

## Testing Information

To test on UAT:

1. Visit https://uat.maap-project.org/wp-login.php?external=wordpress
2. Click the "Lost your password?" link
3. Enter the email

[2022-10-14 18:25] gchang opened #606 "MAAP Admin interface doesn't pad dates, makes sorting confusing"
When I tried to sort to find out the latest users who have requested access by date, it doesn't display it in chronological order.

![Screen Shot 2022-10-14 at 11.24.13 AM.png](https://images.zenhubusercontent.com/5ee7da582a6c07a5f569db2e/60c78036-ad6f-4804-b49d-b41adbaa22e6)

[2022-10-17 20:40] anilnatha commented on #606
@gchang Can you test this again on your machine and let me know if the issue is still present? I tried to replicate the issue using Chrome and Firefox on my machine and am unable to replicate it.

|DIT|UAT|OPS|
|---|---|---|
|<img width="233" alt="image" src="https://user-images.githubusercontent.com/931107/196277706-6f099310-cbc2-4b86-8c96-24aad7b034aa.png">|<img width="225" alt="image" src="http

[2022-10-17 20:44] anilnatha commented on #606
@gchang Disregard my last post, was able to replicate the issue in Safari (Version 16.0 (17614.1.25.9.10, 17614))

[2022-10-17 21:33] anilnatha commented on #606
Issue is resolved, simply needed to prepend the day value with `0` to fix sorting.   The fix has been rolled out to DIT, UAT, and OPS.

@oddes ready to test the WordPress MAAP Admin Plugin user's list view.  Since this is already deployed to OPS, feel free to close if your testing passes.  Thank you!

[2022-10-18 15:37] chuckwondo commented on #593
@gchang, this doesn't address the issue in the environment that I mentioned in the initial message for this issue. Can you do the same fix to address my original error?

[2022-10-18 18:09] oddes commented on #571
@bsatoriu
Update email id shows on the profile page but login to ADE and GIT not working.

[2022-10-18 18:25] anilnatha commented on #591
@oddes I'll schedule a time for us to do a screen share so I can see your process to ensure there isn't something I overlooked.

[2022-10-18 20:30] gchang commented on #593
I added that to the UAT and OPS environment too now.

[2022-10-19 13:51] chuckwondo commented on #593
Thanks @gchang! That did the trick for me, so I'm closing this issue.

[2022-10-19 13:51] #593 closed

[2022-10-19 17:00] anilnatha commented on #605
Hey @marjo-luc, could you point me to any information we have that I could use to get our version of Eclipse Che running locally or help me get it set up so I can make an try to work on the three tickets in this epic?

[2022-10-19 17:15] marjo-luc commented on #605
@anilnatha I haven't run eclipse che locally nor am I aware of any documentation we may have detailing how to do so. It looks like your tickets are specific to the eclipse che dashboard, which you should be able to stand up a local version of piggy-backing on the existing k8s cluster, based on the documentation I found [here](https://github.com/eclipse-che/che-dashboard). Our eclipse che dashboard

[2022-10-19 17:44] anilnatha commented on #605
Thanks for the guidance @marjo-luc, I'll read through the information at the links you've shared and await any additional information Brian may be able to share.

[2022-10-19 21:42] bsatoriu commented on #605
It's been a while since I ran the Che dashboard locally, but I believe it's possible. I can test it out and report back.

[2022-10-20 00:30] sujen1412 opened #607 "Hide account specific information from metrics endpoint"
The job metrics endpoint should not return AWS account specific info like, instance ids, ip address, etc.

[2022-10-20 00:55] marjo-luc commented on #607
@NamrataM and I were just discussing this. You are referring to the MAAP API, correct?

[2022-10-20 04:48] oddes commented on #591
Working as expected. We need to open a new ticket for user not able to login with user id.

[2022-10-20 04:48] #591 closed

[2022-10-20 04:53] oddes commented on #606
![Screen Shot 2022-10-19 at 9.52.43 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/a45f23ff-3061-4157-96fd-77c30ab924f7)

[2022-10-20 04:53] #606 closed

[2022-10-20 04:53] oddes commented on #564
works as expected.

[2022-10-20 15:03] anilnatha commented on #591
@oddes

Thanks! I'll promote this to OPS so that you can test one last time. I'll report back when this is done.

I looked into this. I've verified that our WordPress usernames are our email addresses.  This is shown in the WP "Users" Dashboard.  Where this is confusing is the new MAAP WP Plugin lists our _URS_ usernames.  To avoid confusion in the future, I'm tentatively considering relabeling th

[2022-10-26 07:48] gchang opened #608 "DIT workspace devfiles do not produce random workspace names suffixes"
Devfiles in dit are incorrect, generateName is not specified

[2022-10-26 09:07] #608 closed

[2022-10-26 09:07] gchang commented on #608
https://github.com/MAAP-Project/maap-workspaces/commit/608a262be6736c63135725af13dc14542e7a6bf8

[2022-10-31 03:52] oddes commented on #598
@anilnatha it looks good. ready to move to OPS.

[2022-10-31 20:36] marjo-luc commented on #603
Fixed and deployed on DIT.![text-filter.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/2272468a-e1c1-458c-8ef4-c2c1bb43bcfb)

[2022-10-31 20:36] #603 closed

[2022-10-31 20:36] marjo-luc commented on #604
Fixed and deployed on DIT.
![dropdown.png](https://images.zenhubusercontent.com/5eea86b79801f3519458f31d/783b082d-71e5-4373-8470-3f8640cf16fc)

[2022-10-31 20:36] #604 closed

[2022-10-31 20:39] #595 closed

[2022-10-31 20:51] marjo-luc opened #609 "JobsUI remove hard-coded anonymous user"
Username was hard-coded to `anonymous` until the maapsec extension was converted to jl3 and deployed to DIT. This now needs to be updated to pull username of user logged into the workspace.

[2022-11-01 05:46] anilnatha commented on #598
@oddes This change has been rolled out to OPS and is ready for you to test once again.

[2022-11-02 00:58] oddes commented on #598
works as expected. Closing.

[2022-11-02 00:58] #598 closed

[2022-11-02 19:04] grallewellyn opened #610 "Fixing all dropdowns for EDSC extension"
I got open EarthData search working by adding an environments.json file that was not in the repo (but we are in the middle of changing how we do this, so I am not committing this file to the repo)
![Screen Shot 2022-11-02 at 12.00.28 PM.png](https://images.zenhubusercontent.com/6333605b521a1e34fb21fe22/7d3a9380-a7f0-476a-9ee6-f9ac1bbd31bd)
However, the below 5 options aren't working properly. I wi

[2022-11-02 19:12] grallewellyn commented on #592
One of my main problems with this was node-gyp errors which resulted from compatibility issues between node-sass, node, and lib0. I resolved this by using node v14, and in ipycmc package.json changing the value of the dependency "maap-common-mapping-client" from "MAAP-Project/maap-ade-common-mapping-client#stable-pub" to "grallewellyn/maap-test-ade" (which is a repo I made with all the same code a

[2022-11-08 22:46] oddes commented on #571
@bsatoriu it does not work when we dont change the Userid, which needs to be fixed.

[2022-11-10 18:37] gchang opened #611 "New Test Epic"

[2022-11-10 20:05] bsatoriu commented on #571
@oddes
I was able to update the "account already exists" flow to send the user a confirmation email and proceed to the verification step. I also simplified the flow so that Keycloak automatically tries adding the user to the existing account.

These fixes led me to a new issue that is caused by a known Keycloak bug in the version, 4.8.3.Final, that we're currently using.

https://issues.redhat.com

[2022-11-10 21:18] #584 closed

[2022-11-10 21:22] #514 closed

[2022-11-10 21:23] #541 closed

[2022-11-10 21:26] #489 closed

[2022-11-10 21:28] #393 closed

[2022-11-10 21:59] gchang commented on #570
Still valid, token can become stale in certain scenarios.

[2022-11-10 22:07] grallewellyn commented on #610
I fixed the problem with the global variables for the edsc extension so now the view selected search parameters and set results limit options are working correctly, but I cannot test the 3 paste options because:
I am currently having a bug with the edsc extension where if I open EarthData search, and then switch to another tab on jupyter lab, I am unable to click anything (including anything in my

[2022-11-10 22:17] grallewellyn commented on #610
Another problem I am having is that EarthData Search is not letting me click on a collection to add a granule. Right now when I click on a collection, it just defaults back to the original search page and I can never see the list of granules for that collection to select from. However, when I click on the collection, it is then added to my current search parameters as the granule and collection se

[2022-11-11 23:13] rtapella opened #612 "Jobs UI: sort arrows point in the wrong direction and are always showing for time field"
The column sort-indicators in the Jobs UI have arrows that point the "wrong way". Also for the date fields, the sort-indicators are always showing so you cannot easily tell which is active.

![Screen Shot 2022-11-11 at 3.12.39 PM.png](https://images.zenhubusercontent.com/61dc908470b3029fc627fcbb/5f379b61-a18d-429e-b09b-8915afdec138)

[2022-11-11 23:15] rtapella opened #613 "Jobs UI: after successfully submitting job, auto-refresh the job listing"
After successfully submitting a job, auto-refresh the job listing so that you can flip to it and see your running job. Currently when you flip to job status you must manually Refresh the listing to see the job(s) you just submitted, so it looks like they are not there.

[2022-11-11 23:15] rtapella commented on #613
We could also let ppl click the notification/toast and go to the View page and highlight the row for their job

[2022-11-11 23:16] rtapella opened #614 "Jobs UI: from "Product" field of metadata, link to a path in Terminal"
It might be interesting to let people click a link in the Products field to open a new Terminal and go to the path of an output file.

Or potentially just let them copy/paste the link and it's more flexible (it's hard to copy/paste links sometimes). Need to observe how people will use the output-path info.

You could have little action-icons for each path:
- go to path in Terminal
- copy path
- co

[2022-11-11 23:26] rtapella opened #615 "Jobs UI testing: Make a new test job on DIT that produces an output file"
For testing the Jobs UI on DIT:
- would be great to have a job that produces an output of some sort so that the General > Products field gets some URLs added to it.

[2022-11-12 00:01] anilnatha commented on #564
@oddes Sendmail has been installed on OPS, please follow the same testing procedure and feel free to close this ticket if everything is working.

[2022-11-12 00:03] anilnatha commented on #542
November snuck up on us @bsatoriu !

PostgreSQL 10 is now past its support period.

[2022-11-12 00:23] anilnatha opened #616 "Disable port 25"
During installation of sendmail on OPS, I discovered that port 25 is blocked, very likely for security reasons. We need to apply this same policy on our other environments for added security and consistency.

[2022-11-14 19:12] marjo-luc opened #617 "Some of the base images fail to build"
The r, vanilla, and isce2 base images have been failing to build for ~1 week. All fail with an error message similar to this:
`  File "/opt/conda/lib/python3.9/site-packages/OpenSSL/__init__.py", line 8, in <module>
    from OpenSSL import crypto, SSL
  File "/opt/conda/lib/python3.9/site-packages/OpenSSL/crypto.py", line 1556, in <module>
    class X509StoreFlags(object):
  File "/opt/conda/lib/p

[2022-11-14 22:45] oddes commented on #571
@bsatoriu
1. it is working as expected for the ADE.
2. Git Repositories link is re-directing to service error, need to be fixed. Please see the attached image:
![Screen Shot 2022-11-14 at 2.40.20 PM.png](https://images.zenhubusercontent.com/5efbaf0bd4d83e06b6d4316e/f6a373b9-c05c-4bc3-8117-dd41c751e02a)

[2022-11-14 23:18] grallewellyn opened #618 "Interactive tutorial for MAAP workspace"

[2022-11-14 23:19] grallewellyn commented on #618
New jupyter extension with an interactive tutorial for MAAP specific features. Thinking about using joyride, but need to explore more

[2022-11-14 23:20] grallewellyn opened #619 "Help option specific to MAAP"

[2022-11-14 23:20] grallewellyn commented on #619
New jupyter extension for help option for MAAP that should also incorporate the generic jupyter help tab

[2022-11-15 01:05] oddes commented on #564
This Looks good.

[2022-11-15 01:05] #564 closed

[2022-11-15 01:09] bsatoriu commented on #571
@oddes Thanks Sri. I see the link to GitLab from the UAT portal was incorrect. I fixed the link so that it goes to the correct Git Repository. Please re-test once more when you're ready.

[2022-11-15 22:04] oddes commented on #571
@bsatoriu  Great. All the links working now as expected!.

[2022-11-15 22:04] #571 closed

[2022-11-16 22:54] bsatoriu commented on #550
@oddes here is a screenshot of the API EC2 snapshots. I will go ahead and close this since this image verifies the snapshots are correctly being generated and retained for seven days.

<img width="1114" alt="Screen Shot 2022-11-16 at 2 54 22 PM" src="https://user-images.githubusercontent.com/27687558/202312070-d7f2c68b-d40e-4f0f-b1a7-405729bc869e.png">

[2022-11-16 22:54] #550 closed

[2022-11-17 18:32] gchang opened #620 "Evaluate and Recommend Documentation Plan"

[2022-11-22 22:03] wildintellect commented on #535
@chuckwondo can you please update with information on the H5py s3 read-only. @sumantjha is looking for better methods to use on NISAR data.

[2022-11-22 22:28] sumantjha commented on #535
Some more information: I used H5Glance to map out variables in NISAR H5 files, and then used usual data mapping to get to amplitude and phase spectra. However, to plot it, I had to use gdal_translate to convert these specific data slice to an SLC format which took almost 10 minutes. Need a better way to reduce the time taken for processing/slicing/converting H5 data.

[2022-11-22 22:34] wildintellect commented on #535
@sumantjha have a look at how the GEDI subsetter works https://github.com/MAAP-Project/gedi-subsetter/blob/main/src/gedi_subset/h5frame.py
I know we're also looking at Xarray DataTree as an additional method for making this easier.

[2022-11-28 23:10] marjo-luc commented on #609
Done and deployed on DIT.

[2022-11-28 23:10] #609 closed

[2022-11-28 23:11] marjo-luc opened #621 "User Testing Updates"
Epic to capture tickets that came out of @rtapella 's user testing

[2022-11-28 23:13] marjo-luc opened #622 "Fix jobs ui divider bug"
The divider that separates the jobs list from the jobs details causes the entire UI to crash when its dragged to the top of the panel.

[2022-11-28 23:15] marjo-luc opened #623 "Scroll bar on submit job panel is hidden"
When the submit job page extends the page, users can't scroll to see the rest of it.

[2022-11-28 23:16] marjo-luc opened #624 "Move pagination controls and scroll bar above jobs list table"
User testing revealed these controls need to be more visible.

[2022-11-29 02:36] abarciauskas-bgse opened #625 "MAAP DPS: Add ability to delete a job output"
**Is your feature request related to a problem? Please describe.**
We are working on the ability to support users in publishing datasets produced by DPS. However if users mistakenly publish some data, say that is faulty, they may want to omit those files from publishing a "collection" of data identified by some collection identifier. Since DPS outputs are output to subdirectories according to the

[2022-11-30 00:45] #622 closed

[2022-11-30 00:45] #623 closed

[2022-11-30 01:49] marjo-luc opened #626 "Update DIT gitlab runner cron to clean up docker images"
We frequently encounter space issues on the DIT gitlab runner. There is a cron script on ops that cleans up old images. I've copied it over to DIT. The crontab and the cleanup script have both been pushed to the gitlab repo here: https://github.com/MAAP-Project/maap-mas-gitlab

[2022-11-30 01:50] #626 closed

[2022-11-30 02:30] grallewellyn commented on #523
I will look into this issue once I get edsc extension running locally for me. My current error with edsc running locally is that after I launch EarthData Search, I am unable to click anywhere else on the screen, therefore I cannot see the results of a pasted query into a jupyter notebook. Marjorie is helping me with this issue and more details can be found here: https://app.zenhub.com/workspaces/m